@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: none; }

*,
*::before,
*::after {
  box-sizing: border-box; }

a:focus,
a:active {
  /* outline: none;*/ }

/* Links */
a, a:link, a:visited  {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */ }

a:hover {
  /* color: inherit; */
  text-decoration: none; }

/* Common */
aside, nav, footer, header, section, main {
  display: block; }

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit; }

ul, ul li {
  list-style: none; }

img {
  vertical-align: top; }

img, svg {
  max-width: 100%;
  height: auto; }

address {
  font-style: normal; }

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent; }

input::-ms-clear {
  display: none; }

button, input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer; }

input:focus, input:active,
button:focus, button:active {
  outline: none; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

label {
  cursor: pointer; }

legend {
  display: block; }

body {
  background-color: #230361;
  color: #ffffff; }
  body .header {
    background-image: url(../img/png/BACKGROUND.png);
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px; }
    body .header-container1 {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 137px; }
      body .header-container1 .nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 35px; }
        body .header-container1 .nav__list {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          gap: 31px; }
        body .header-container1 .nav__item {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          gap: 9px; }
        body .header-container1 .nav__link {
          font-family: 'Roboto', sans-serif;
          font-size: 18px;
          font-weight: 500;
          line-height: 21px;
          color: #ffffff;
          text-decoration: none; }
    body .header-container2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 42px; }
      body .header-container2 .header-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 18px; }
        body .header-container2 .header-box__title {
          font-family: 'Chakra Petch', sans-serif;
          font-size: 63px;
          font-weight: 700;
          line-height: 60px;
          text-transform: capitalize;
          color: rgba(255, 255, 255, 0);
          -webkit-text-stroke: 3px #FFFFFF; }
        body .header-container2 .header-box__back {
          background-image: url(../img/svg/background.svg);
          background-repeat: no-repeat;
          background-size: cover;
          padding: 23px; }
        body .header-container2 .header-box__price {
          font-family: 'Chakra Petch', sans-serif;
          font-size: 56px;
          font-weight: 500;
          line-height: 25px; }
        body .header-container2 .header-box__text {
          font-family: 'Roboto', sans-serif;
          font-size: 18px;
          font-weight: 500;
          line-height: 21px; }
      body .header-container2 .header-box2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 110px; }
        body .header-container2 .header-box2 .header-cont {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          gap: 30px; }
          body .header-container2 .header-box2 .header-cont__title {
            font-family: 'Chakra Petch', sans-serif;
            font-size: 63px;
            font-weight: 700;
            line-height: 60px; }
          body .header-container2 .header-box2 .header-cont__wrap {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 40px; }
            body .header-container2 .header-box2 .header-cont__wrap .header-time {
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              gap: 16px; }
              body .header-container2 .header-box2 .header-cont__wrap .header-time__box {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 10px; }
                body .header-container2 .header-box2 .header-cont__wrap .header-time__box-cont {
                  position: relative;
                  padding: 11px 30px;
                  border-radius: 8px;
                  border: 2px solid transparent;
                  border-image: linear-gradient(#EA4835, #7000D3);
                  border-image-slice: 1; }
                  body .header-container2 .header-box2 .header-cont__wrap .header-time__box-cont-text {
                    font-family: 'Chakra Petch', sans-serif;
                    font-size: 40px;
                    font-weight: 700;
                    line-height: 25px; }
                body .header-container2 .header-box2 .header-cont__wrap .header-time__box-text {
                  font-family: 'Roboto', sans-serif;
                  font-size: 18px;
                  font-weight: 500;
                  line-height: 21px; }
              body .header-container2 .header-box2 .header-cont__wrap .header-time__dote {
                margin-bottom: 25px;
                color: #ffffff;
                font-family: 'Roboto', sans-serif;
                font-size: 35px;
                font-weight: 600;
                line-height: 77px; }
            body .header-container2 .header-box2 .header-cont__wrap-text {
              font-family: 'Chakra Petch', sans-serif;
              font-size: 35px;
              font-weight: 600;
              line-height: 21px; }
          body .header-container2 .header-box2 .header-cont__loader {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 20px; }
            body .header-container2 .header-box2 .header-cont__loader-textbox {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;
              gap: 300px; }
          body .header-container2 .header-box2 .header-cont__btn {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 20px; }
        body .header-container2 .header-box2 .header-cont2 {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 10px;
          background-color: #360F8AE6;
          padding: 11px 30px; }
          body .header-container2 .header-box2 .header-cont2__title {
            font-family: 'Chakra Petch', sans-serif;
            font-size: 63px;
            font-weight: 700;
            line-height: 60px;
            margin-bottom: 30px; }
          body .header-container2 .header-box2 .header-cont2__trade {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 16px; }
            body .header-container2 .header-box2 .header-cont2__trade-box {
              display: flex;
              flex-direction: row;
              justify-content: flex-start;
              align-items: center;
              gap: 10px; }
              body .header-container2 .header-box2 .header-cont2__trade-box-text {
                font-family: 'Chakra Petch', sans-serif;
                font-size: 18px;
                font-weight: 600;
                line-height: 21px; }
            body .header-container2 .header-box2 .header-cont2__trade-input {
              border-radius: 30px;
              background: rgba(34, 9, 112, 0.64);
              padding: 20px 20px 20px 20px;
              width: 459px; }
            body .header-container2 .header-box2 .header-cont2__trade-textbox {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;
              gap: 250px; }
              body .header-container2 .header-box2 .header-cont2__trade-textbox-text {
                font-family: 'Roboto', sans-serif;
                font-size: 18px;
                font-weight: 400;
                line-height: 21px; }
          body .header-container2 .header-box2 .header-cont2__text {
            font-family: 'Roboto', sans-serif;
            font-size: 18px;
            font-weight: 500;
            line-height: 21px; }
  body .button {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    padding: 14px 26px;
    background-color: #7400D3;
    color: #ffffff;
    border-radius: 30px; }
