@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: none; }

*,
*::before,
*::after {
  box-sizing: border-box; }

a:focus,
a:active {
  /* outline: none;*/ }

/* Links */
a, a:link, a:visited  {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */ }

a:hover {
  /* color: inherit; */
  text-decoration: none; }

/* Common */
aside, nav, footer, header, section, main {
  display: block; }

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit; }

img {
  vertical-align: top; }

img, svg {
  max-width: 100%;
  height: auto; }

address {
  font-style: normal; }

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent; }

input::-ms-clear {
  display: none; }

button, input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer; }

input:focus, input:active,
button:focus, button:active {
  outline: none; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

label {
  cursor: pointer; }

legend {
  display: block; }

body {
  background-color: #230361;
  color: #ffffff; }
  body .header {
    background-image: url(../img/png/BACKGROUND.png);
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px; }
    body .header-container1 {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 137px; }
      body .header-container1 .nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 35px; }
        body .header-container1 .nav__list {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          gap: 31px; }
        body .header-container1 .nav__item {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          gap: 9px; }
        body .header-container1 .nav__link {
          font-family: 'Roboto', sans-serif;
          font-size: 18px;
          font-weight: 500;
          line-height: 21px;
          color: #ffffff;
          text-decoration: none; }
    body .header-container2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 42px; }
      body .header-container2 .header-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 18px; }
        body .header-container2 .header-box__title {
          font-family: 'Chakra Petch', sans-serif;
          font-size: 63px;
          font-weight: 700;
          line-height: 60px;
          text-transform: capitalize;
          color: rgba(255, 255, 255, 0);
          -webkit-text-stroke: 3px #FFFFFF; }
        body .header-container2 .header-box__back {
          background-image: url(../img/svg/background.svg);
          background-repeat: no-repeat;
          background-size: cover;
          padding: 23px; }
        body .header-container2 .header-box__price {
          font-family: 'Chakra Petch', sans-serif;
          font-size: 56px;
          font-weight: 500;
          line-height: 25px; }
        body .header-container2 .header-box__text {
          font-family: 'Roboto', sans-serif;
          font-size: 18px;
          font-weight: 500;
          line-height: 21px; }
      body .header-container2 .header-box2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 110px; }
        body .header-container2 .header-box2 .header-cont {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          gap: 30px; }
          body .header-container2 .header-box2 .header-cont__title {
            font-family: 'Chakra Petch', sans-serif;
            font-size: 63px;
            font-weight: 700;
            line-height: 60px; }
          body .header-container2 .header-box2 .header-cont__wrap {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 40px; }
            body .header-container2 .header-box2 .header-cont__wrap .header-time {
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              gap: 16px; }
              body .header-container2 .header-box2 .header-cont__wrap .header-time__box {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 10px; }
                body .header-container2 .header-box2 .header-cont__wrap .header-time__box-cont {
                  position: relative;
                  padding: 11px 30px;
                  border-radius: 8px;
                  border: 2px solid transparent;
                  border-image: linear-gradient(#EA4835, #7000D3);
                  border-image-slice: 1; }
                  body .header-container2 .header-box2 .header-cont__wrap .header-time__box-cont-text {
                    font-family: 'Chakra Petch', sans-serif;
                    font-size: 40px;
                    font-weight: 700;
                    line-height: 25px; }
                body .header-container2 .header-box2 .header-cont__wrap .header-time__box-text {
                  font-family: 'Roboto', sans-serif;
                  font-size: 18px;
                  font-weight: 500;
                  line-height: 21px; }
              body .header-container2 .header-box2 .header-cont__wrap .header-time__dote {
                margin-bottom: 25px;
                color: #ffffff;
                font-family: 'Roboto', sans-serif;
                font-size: 35px;
                font-weight: 600;
                line-height: 77px; }
            body .header-container2 .header-box2 .header-cont__wrap-text {
              font-family: 'Chakra Petch', sans-serif;
              font-size: 35px;
              font-weight: 600;
              line-height: 21px; }
          body .header-container2 .header-box2 .header-cont__loader {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 20px; }
            body .header-container2 .header-box2 .header-cont__loader-textbox {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;
              gap: 300px; }
          body .header-container2 .header-box2 .header-cont__btn {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 20px; }
        body .header-container2 .header-box2 .header-cont2 {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 10px;
          background-color: #360F8AE6;
          padding: 11px 30px; }
          body .header-container2 .header-box2 .header-cont2__title {
            font-family: 'Chakra Petch', sans-serif;
            font-size: 63px;
            font-weight: 700;
            line-height: 60px;
            margin-bottom: 30px; }
          body .header-container2 .header-box2 .header-cont2__trade {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 16px; }
            body .header-container2 .header-box2 .header-cont2__trade-box {
              display: flex;
              flex-direction: row;
              justify-content: flex-start;
              align-items: center;
              gap: 10px; }
              body .header-container2 .header-box2 .header-cont2__trade-box-text {
                font-family: 'Chakra Petch', sans-serif;
                font-size: 18px;
                font-weight: 600;
                line-height: 21px; }
            body .header-container2 .header-box2 .header-cont2__trade-input {
              border-radius: 30px;
              background: rgba(34, 9, 112, 0.64);
              padding: 20px;
              width: 100%; }
            body .header-container2 .header-box2 .header-cont2__trade-textbox {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;
              gap: 250px; }
              body .header-container2 .header-box2 .header-cont2__trade-textbox-text {
                font-family: 'Roboto', sans-serif;
                font-size: 18px;
                font-weight: 400;
                line-height: 21px; }
          body .header-container2 .header-box2 .header-cont2__text {
            font-family: 'Roboto', sans-serif;
            font-size: 18px;
            font-weight: 500;
            line-height: 21px; }
  body .main .section1 {
    margin-top: 33px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px; }
    body .main .section1-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 400px; }
      body .main .section1-container .section1-box {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 45px; }
        body .main .section1-container .section1-box__title {
          font-family: 'Chakra Petch', sans-serif;
          font-size: 35px;
          font-weight: 700;
          line-height: 60px; }
          body .main .section1-container .section1-box__title--orange {
            color: #EB4834; }
        body .main .section1-container .section1-box__cont {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          gap: 28px; }
          body .main .section1-container .section1-box__cont-textbox {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 20px; }
            body .main .section1-container .section1-box__cont-textbox-text1 {
              font-family: 'Roboto', sans-serif;
              font-size: 21px;
              font-weight: 500;
              line-height: 21px; }
            body .main .section1-container .section1-box__cont-textbox-text2 {
              font-family: 'Roboto', sans-serif;
              font-size: 25px;
              font-weight: 500;
              line-height: 21px;
              color: #EB4834; }
          body .main .section1-container .section1-box__cont-price {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 15px; }
            body .main .section1-container .section1-box__cont-price-coin {
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              gap: 10px; }
              body .main .section1-container .section1-box__cont-price-coin-text {
                font-family: 'Roboto', sans-serif;
                font-size: 19px;
                font-weight: 500;
                line-height: 21px; }
  body .main .section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 54px;
    margin-top: 40px; }
    body .main .section2__title {
      font-family: 'Chakra Petch', sans-serif;
      font-size: 55px;
      font-weight: 700;
      line-height: 60px; }
      body .main .section2__title--orange {
        color: #EB4834; }
    body .main .section2-cont {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      gap: 25px;
      padding: 50px 14px; }
      body .main .section2-cont .section2-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 20px 20px 100px 20px;
        background-color: #320F80;
        border-radius: 12px; }
        body .main .section2-cont .section2-box__text {
          font-family: 'Roboto', sans-serif;
          font-size: 16px;
          font-weight: 400;
          line-height: 21px;
          opacity: 0.9;
          text-align: center; }
  body .main .section3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 54px;
    padding: 84px 100px; }
    body .main .section3__title {
      font-family: 'Chakra Petch', sans-serif;
      font-size: 55px;
      font-weight: 700;
      line-height: 60px; }
      body .main .section3__title--orange {
        color: #EB4834; }
    body .main .section3-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 25px; }
      body .main .section3-container .section3-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 80px; }
        body .main .section3-container .section3-box__cont {
          border-left: 3px solid transparent;
          border-image: linear-gradient(#DB205B, #7000D3);
          border-image-slice: 1;
          padding-left: 24px; }
          body .main .section3-container .section3-box__cont-text {
            font-family: 'Roboto', sans-serif;
            font-size: 20px;
            font-weight: 500;
            line-height: 21px;
            width: 83%;
            line-height: 50px; }
  body .main .section4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 54px; }
    body .main .section4__title {
      font-family: 'Chakra Petch', sans-serif;
      font-size: 55px;
      font-weight: 700;
      line-height: 60px; }
      body .main .section4__title--orange {
        color: #EB4834; }
    body .main .section4-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 61px; }
      body .main .section4-container .section4-box {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 50px;
        background-color: #320F80;
        padding: 23px 50px;
        border-radius: 12px; }
        body .main .section4-container .section4-box__list {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          gap: 20px; }
          body .main .section4-container .section4-box__list-title {
            font-family: 'Chakra Petch', sans-serif;
            font-size: 33px;
            font-weight: 600;
            line-height: 25px; }
        body .main .section4-container .section4-box__item {
          font-family: 'Roboto', sans-serif;
          font-size: 21px;
          font-weight: 500;
          line-height: 21px;
          opacity: 0.9;
          margin-left: 25px; }
  body .main .section5 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 150px;
    padding: 100px; }
    body .main .section5-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 20px; }
      body .main .section5-container__title {
        font-family: 'Chakra Petch', sans-serif;
        font-size: 45px;
        font-weight: 700;
        line-height: 60px; }
        body .main .section5-container__title--orange {
          color: #EB4834; }
      body .main .section5-container__text {
        font-family: 'Roboto', sans-serif;
        font-size: 19px;
        font-weight: 400;
        line-height: 21px;
        width: 60%; }
      body .main .section5-container__list {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 20px;
        margin-left: 20px; }
      body .main .section5-container__item {
        font-family: 'Roboto', sans-serif;
        font-size: 19px;
        font-weight: 400;
        line-height: 21px; }
  body .main .section6 {
    display: flex;
    flex-direction: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 54px;
    margin: 0px 150px;
    background-color: transparent;
    background-image: linear-gradient(#7000D3, #280B70); }
    body .main .section6-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 20px; }
      body .main .section6-container__title {
        font-family: 'Chakra Petch', sans-serif;
        font-size: 45px;
        font-weight: 700;
        line-height: 60px; }
      body .main .section6-container__text {
        font-family: 'Roboto', sans-serif;
        font-size: 40px;
        font-weight: 400;
        line-height: 60px;
        width: 90%; }
      body .main .section6-container__label {
        padding: 3px 9px;
        background-color: #230361;
        border-radius: 100px; }
      body .main .section6-container__input {
        padding: 10px 17px; }
  body .button {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    padding: 14px 26px;
    background-color: #7400D3;
    color: #ffffff;
    border-radius: 30px; }
