@import './vars';
@import './mixin';
@import './reset';

body {
    background-color: $background-color;
    color: $main-color;
    .header {
        padding: 40px 20px;
        @include flex(row, space-around, center, 0);
        .nav {
            @include flex(row, center, center, 35px);
            &__list {
                @include flex(row, center, center, 31px);
            }
            &__item {
                @include flex(row, center, center, 9px);
            }
            &__link {
                @include Roboto(18px, 500, 21px);
                color: $main-color;
                text-decoration: none;
            }
            &__btn {
                @include ChakraPetch(18px, 700, 25px);
                padding: 14px 26px;
                background-color: $button-color;
                color: $main-color;
                border-radius: 30px;
            }
        }
    }
    .main {
        
    }
}