@import './vars';
@import './mixin';
@import './reset';

body {
    background-color: $background-color;
    color: $main-color;
    .header {
        background-image: url(../img/png/BACKGROUND.png);
        padding: 40px 20px;
        @include flex(column, center, center, 15px);
        &-container1 {
            @include flex(row, space-between, center, 137px);
            .nav {
                @include flex(row, center, center, 35px);
                &__list {
                    @include flex(row, center, center, 31px);
                }
                &__item {
                    @include flex(row, center, center, 9px);
                }
                &__link {
                    @include Roboto(18px, 500, 21px);
                    color: $main-color;
                    text-decoration: none;
                }
                &__btn {
                }
            }
        }
        &-container2 {
            @include flex(column, center, center, 42px);
            .header-box {
                @include flex(column, center, center, 18px);
                &__title {
                    @include ChakraPetch(63px, 700, 60px);
                    text-transform: capitalize;
                    color: rgba(255, 255, 255, 0);
                    -webkit-text-stroke: 3px #FFFFFF;
                }
                &__back{
                    background-image: url(../img/svg/background.svg);
                    background-repeat: no-repeat;
                    background-size: cover;
                    padding: 23px;

                }
                &__price {
                    @include ChakraPetch(56px, 500, 25px);
                }
                &__text {
                    @include Roboto(18px, 500, 21px);
                }
            }
            .header-box2 {
                @include flex(row, center, center, 110px);
                .header-cont {
                    @include flex(column, flex-start, flex-start, 30px);
                    &__title {
                        @include ChakraPetch(63px, 700, 60px);
                    }
                    &__wrap {
                        @include flex(row, flex-start, center, 40px);
                        .header-time {
                            @include flex(row, center, center, 16px);
                            &__box {
                                @include flex(column, flex-start, flex-start, 10px);
                                &-cont {
                                    position: relative;
                                    padding: 11px 30px;
                                    border-radius: 8px;
                                    border: 2px solid transparent;
                                    border-image:  linear-gradient(#EA4835 , #7000D3);
                                    border-image-slice: 1;
                                    &-text {
                                        @include ChakraPetch(40px, 700, 25px);
                                    }
                                }
                                &-text {
                                    @include Roboto(18px, 500, 21px);
                                }
                            }
                            &__dote {
                                margin-bottom: 25px;
                                color: $main-color;
                                @include Roboto(35px,600,77px);
                            }
                        }
                        &-text {
                            @include ChakraPetch(35px, 600, 21px);
                        }
                    }
                    &__loader {
                        @include flex(column, flex-start, flex-start, 20px);
                        &-textbox {
                            @include flex(row, space-between, center, 300px);
                        }
                    }
                    &__btn {
                        @include flex(row, center, center, 20px);
                    }
                }
                .header-cont2 {
                    @include flex(column, center, center, 10px);
                    background-color: #360F8AE6;
                    padding: 11px 30px;
                    &__title {
                        @include ChakraPetch(63px, 700, 60px);
                        margin-bottom: 30px;
                    }
                    &__trade {
                        @include flex(column, flex-start, flex-start, 16px);
                        &-box {
                            @include flex(row, flex-start, center, 10px);
                            &-text {
                                @include ChakraPetch(18px, 600, 21px);
                            }
                        }
                        &-input {
                            border-radius: 30px;
                            background: rgba(34, 9, 112, 0.64);
                            padding: 20px;
                            width: 100%;
                        }
                        &-textbox {
                            @include flex(row, space-between, center, 250px);
                            &-text {
                                @include Roboto(18px, 400, 21px);
                            }
                        }
                    }
                    &__text {
                        @include Roboto(18px, 500, 21px);
                    }
                }
            }
        }
    }
    .main {
        .section1 {
            margin-top: 33px;
            @include flex(column, center, center, 100px);
            &-container {
                @include flex(row, space-between, center, 400px);
                .section1-box {
                    @include flex(column, flex-start, flex-start, 45px);
                    &__title {
                        @include ChakraPetch(35px, 700, 60px);
                        &--orange {
                            color :$title-color;
                        }
                    }
                    &__cont {
                        @include flex(row, center, center, 28px);
                        &-textbox {
                            @include flex(column, flex-start, flex-start, 20px);
                            &-text1 {
                                @include Roboto(21px, 500, 21px);
                            }
                            &-text2 {
                                @include Roboto(25px, 500, 21px);
                                color: $title-color
                            }
                        }
                        &-price {
                            @include flex(column, flex-start, flex-start, 15px);
                            &-coin {
                                @include flex(row, center, center, 10px);
                                &-text {
                                    @include Roboto(19px, 500, 21px);
                                }
                            }
                        }
                    }
                }
            }
        }
        .section2 {
            @include flex(column, center, center, 54px);
            margin-top: 40px;
            &__title {
                @include ChakraPetch(55px, 700, 60px);
                &--orange {
                    color :$title-color;
                }
            }
            &-cont {
                @include flex(row, space-between, flex-start, 25px);
                padding: 50px 14px;
                .section2-box {
                    @include flex(column, center, center, 20px);
                    padding: 20px 20px 100px 20px;
                    background-color: $light-background;
                    border-radius: 12px;
                    &__text {
                        @include Roboto(16px, 400, 21px);
                        opacity: 0.9;
                        text-align: center;
                    }
                }
            }
        }
        .section3 {
            @include flex(column, center, center, 54px);
            padding: 84px 100px;
            &__title {
                @include ChakraPetch(55px, 700, 60px);
                &--orange {
                    color: $title-color;
                }
            }
            &-container {
                @include flex(row, center, center, 25px);
                .section3-box {
                    @include flex(column, center, center, 80px);
                    &__cont {
                        border-left: 3px solid transparent;
                        border-image:  linear-gradient(#DB205B, #7000D3);
                        border-image-slice: 1;
                        padding-left: 24px;
                        &-text {
                            @include Roboto(20px, 500, 21px);
                            width: 83%;
                            line-height: 50px;
                        }
                    }
                }
            }
        }
        .section4 {
            @include flex(column, center, center, 54px);
            &__title {
                @include ChakraPetch(55px, 700, 60px);
                &--orange {
                    color :$title-color;
                }
            }
            &-container {
                @include flex(row, center, center, 61px);
                .section4-box {
                    @include flex(row, center, center, 50px);
                    background-color: $light-background;
                    padding: 23px 50px;
                    border-radius: 12px;
                    &__list {
                        
                        @include flex(column, flex-start, flex-start, 20px);
                        &-title {
                            @include ChakraPetch(33px, 600, 25px);
                        }
                    }
                    &__item {
                        @include Roboto(21px, 500, 21px);
                        opacity: 0.9;
                        margin-left: 25px;
                    }
                }
            }
        }
        .section5 {
            @include flex(row, center, center, 150px);
            padding: 100px;
            &-container {
                @include flex(column, flex-start, flex-start, 20px);
                &__title {
                    @include ChakraPetch(45px, 700, 60px);
                    &--orange {
                        color :$title-color;
                    }
                }
                &__text {
                    @include Roboto(19px, 400, 21px);
                    width: 60%;
                }
                &__list {
                    @include flex(column, flex-start, flex-start, 20px);
                    margin-left: 20px;
                }
                &__item {
                    @include Roboto(19px, 400, 21px);
                }
            }
        }
        .section6 {
            @include flex(flex, flex-start, center, 54px);
            margin: 0px 150px;
            background-color: transparent;
            background-image:  linear-gradient(#7000D3, #280B70);
            &-container {
                @include flex(column, flex-start, flex-start, 20px);
                &__title {
                    @include ChakraPetch(45px, 700, 60px);
                }
                &__text {
                    @include Roboto(40px, 400, 60px);
                    width: 90%;
                }
                &__label {
                    padding: 3px 9px;
                    background-color: $background-color;
                    border-radius: 100px;
                }
                &__input {
                    padding: 10px 17px;
                }
            }
            
        }
    }
    .button {
        @include ChakraPetch(18px, 700, 25px);
        padding: 14px 26px;
        background-color: $button-color;
        color: $main-color;
        border-radius: 30px;
    }
}